<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Django Form</title>
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css"%}">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <h1 class='jumbotron'>My Form</h1>
          {% if n %}
            <h1 class='alert-success'>Welcome {{n}}</h1>
            <h2 class='text-danger'>Here is Your Email ID Check It</h2>
            <h2 class='alert alert-warning'>{{e}}</h2>
          {% else %}
          <form method="post">
            {% csrf_token %}
              {{ f.as_p }}
              <input type="submit" value="Submit" class='btn btn-warning'>
          </form>
          {% endif %}
        </div>
      </div>
    </div>
  </body>
</html>
